<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table class="tbl-type-list" summary="적조 발생 현황">
 		<caption>적조 발생 현황</caption>
 	<colgroup>
 	<col width="280px"/>
 <col width="200px"/>
 <col width="120"/>
 <col width="80px"/>
 <col width="80px"/>
 </colgroup>
 <thead>
 <tr>
 	<th scope="col">날짜</th>
 	<th scope="col">수온</th>
 	<th scope="col">염분</th>
 	<th scope="col">용존산소량</th>
 	<th scope="col">PH</th>
 	<th scope="col">발생</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>2019-09-01</td>
 <td>26</td>
 <td>32</td>
 <td>6</td>
 <td>6</td>
 <td>0</td>
 </tr>
 </tbody>
 </table>
	<hr>
	<h1>{{message}}</h1>
</body>
</html>